/**
 * Base Styles
 * -----------
 * Global base element resets and utility styles using Tailwind `@apply`.
 *
 */
 @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;

  }
}